name: holon_controlplane_app_recipes_workflow
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Checkout current repository
      uses: actions/checkout@v4

    - name: Common CI Setup
      uses: ./.github/actions/common-setup

    - name:  run recipes for controlplane application
      run: export GOCOVERDIR=/home/runner/work/niovad/niovad/code_cov && 
            cd /home/runner/work/niovad/niovad/build_dir/holon/ &&
           ../run-recipes.sh '/home/runner/work/niovad/niovad/build_dir/holon'
                             '/home/runner/work/niovad/niovad/build_dir'
                             '/home/runner/work/niovad/niovad/holon_log' 5
                             '/home/runner/work/niovad/niovad/build_dir/controlplane_recipes.txt'
                             'controlplane'
                             '/home/runner/work/go/go/bin'
                             5

    - name: Run go covdata tool to generate code cover report
      run: cd /home/runner/work/niovad/niovad/code_cov &&
           export PATH=$PATH:/home/runner/work/go/go/bin &&
           echo "***** Code Coverage Report *****" &&
           go tool covdata percent -i=./ &&
           echo "***** End *****"

    - name: Prepare artifact filename
      id: prepare_artifact_filename
      run: |
        echo ::set-output name=ARTIFACT_NAME::test-recipe-report_${{ github.event.pull_request.head.sha }}_${{ github.run_attempt }}
      if: failure()

    - name: Archive the test results
      uses: actions/upload-artifact@v4
      with:
         name: ${{ steps.prepare_artifact_filename.outputs.ARTIFACT_NAME }}
         path: /home/runner/work/niovad/niovad/holon_log
      if: failure()
